<div class="row">
  <aside class="col-md-3">
    <%= render 'shared/user_profile' if current_user != nil %>
  </aside>
  <div class="col-md-9">
    <div class="list-group">
      <% i = 0 %>
      <% @lessons.each do |lesson| %>
        <li class="list-group-item"> 
          <% i += 1%>
          <%= link_to user_lesson_path(lesson.user_id, lesson.id) do %>
            <div>Lesson <%= i %> (Category: <%= lesson.category.name %>)  </div>
            <div style="float: right; color: green;"> Your last result: <%= lesson.result %></div>
            <div style="clear: both;"> </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div> 
</div>