
<div class="row">
  <aside class="col-md-3">
    <%= render 'shared/user_profile' if current_user != nil %>
  </aside>


  <div class="col-md-7">
    <div class="card word">
    <%= form_for [current_user, @lesson] do |f| %>
      <%= f.fields_for :lesson_words do |lw_builder| %>
        <div >
          <div class="row">
            <% word = lw_builder.object.word %>
          
            <div class="col-md-5">
              <div style="font-size: 24px; color: green; "> <%= word.content %> </div>
            </div>

            <div class="col-md-6">
              <ul>
                <% word.word_answers.each do |answer| %>
                <div style="display: inline-block;">
                      <%= lw_builder.radio_button :word_answer_id, answer.id %>
                      <%= lw_builder.label :word_answer_id, answer.content %>
                </div>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
     <br>
     <div>
      <%= f.submit "Submit", class: "btn btn-info" %>
      </div>
    <% end %> 
    </div>
  </div>

</div>